[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/my-graphene/graphene-fc.git
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/my-graphene/berkeley-softfloat-3.git
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/my-graphene/binaryen.git
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/my-graphene/magic_get.git
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/my-graphene/libcxx.git
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/my-graphene/musl.git
